.defaultBack{
    padding: 8px;
    padding-bottom: 0%;
}

.defaultBackMid{
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: rgb(235, 235, 235);
    padding: 8px;
    padding-bottom: 0%;
}

.ButtonBack{
    float: left;
    margin: 3%;
}

.ButtonNext{
    float: right;
    margin: 3%;
}