.defaultBack{
    margin: 8px;
}

.defaultBackMid{
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: rgb(235, 235, 235);
    margin: 8px;
}

.radioStyle{
    display: 'block';
    height: '30px';
  }

.ButtonBack{
    float: left;
    margin: 3%;
}

.ButtonNext{
    float: right;
    margin: 3%;
}