.listStyle{
    width:100%;
    border-radius: 5px;
    padding-bottom: 5px
    }
    .classStlye{
    margin-bottom: 0px;
    padding-bottom: 0px
    }
    .airLineStyle{
    margin-bottom: 0px;
    padding-bottom: 0px
    }
    .timeStyle{
    font-size: 40px;
    }
    .priceStyle{
    font-size: 17px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: tomato
    }
    .customPanelStyle{
    background: #d6e4ff;
    margin-bottom: 12;
    overflow: 'hidden',
    }