.searchView {
  width:100%;
  padding-top: 20px;
  padding-bottom: 1px;
  border: 10px solid #d6e4ff;
  border-radius:15px;
  background:#ffffff; 
  }
  .typeStyle{
  color:#002329;
  padding-left:0px;
  margin: 10px
  }