.header{
    background: #ffffff,
    padding 10
}

.welcomeView {
    width:80%;
    padding-top: 40px;
    padding-bottom:30px;
    border: 5px solid #bae7ff;
    border-radius:15px;
    margin: auto;
    margin-top: 20px;
    background:#e6f7ff; 

  }

.ant-carousel .slick-slide {
    text-align: center;
    height: 250px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .radio_group{
     margin-top: 5%
  }
  .typeStyle{
      color:#002329;

  }
  .typeCol{
    text-align: end;
    padding-right: 15px
  }
  /* .typeCol_1{
    padding-right: 25px 
  } */

  .datePicker{
      width:100%
  }

  .buttonStyle{
      margin-top: 40px
  }